@model IEnumerable<VisualNovelManager.Models.VisualNovel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VndbId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GameTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GameAlias)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompletionStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VndbId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GameTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GameAlias)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompletionStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.GameId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.GameId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.GameId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
